<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="DefaultConnection" 
             connectionString="Server=MATRIX;Database=Raw_Process;User Id=module;Password=tcs@2015;TrustServerCertificate=true;" 
             providerName="Microsoft.Data.SqlClient" />
    </connectionStrings>
    
    <appSettings>
        <add key="ExcelExportPath" value="~/Desktop/TradeDataEXP_Exports" />
        <add key="CommandTimeout" value="300" />
    </appSettings>
</configuration>
